body {
    background-color: #f3f0ff;
}

.signup-btn {
    background-color: #4A22F4;
  }

h1 {
    color: #4A22F4;
}

.create-btn {
    background-color: #4A22F4;
    color: white;
    padding: 10px 24px;    
    font-size: 12px;        

}

.cancel-btn {
    border: 2px solid #4A22F4;
    color: #4A22F4;
    background-color: white;
    padding: 10px 24px;    
    font-size: 12px;        
    min-width: 110px;   
}

.tab-nav a {
    margin-right: 15px;
    font-weight: 500;
    color: black;
  }

